@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2.8rem;
}

.btn {
  color: white;
  border: 0;

  width: 35px;
  height: 35px;

  &-active {
    border: 2px solid white;
  }

  &-primary {
    border: 1px solid white;
    background: transparent;
    padding: 0.7rem 1rem;

    width: auto;
    height: auto;
  }

  &-secondary {
    color: black;
    width: auto;
    height: auto;
    border: 2px solid gray;
    padding: 0.7rem 1rem;
    background: transparent;
  }

  &-green {
    background: rgba(28, 187, 180, 0.8);
  }

  &-orange {
    background: rgba(255, 173, 29, 0.8);
  }
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;

  &:disabled,
  &[disabled] {
    border: 1px solid #999999;
  }

  &:focus {
    outline: 0;
  }
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  /* CSS */
  header {
    .box {
      margin: 70px 15% 0 15% !important;
    }
  }
  nav {
    padding: 0 15% 0 15% !important;
  }
  main {
    margin: 2rem 15% 0 15% !important;
  }
  footer {
    margin: 0 15% !important;
  }
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {
  /* CSS */
  header {
    .box {
      margin: 70px 15% 0 15% !important;
    }
  }
  nav {
    padding: 0 15% 0 15% !important;
  }
  main {
    margin: 2rem 15% 0 15% !important;
  }
  footer {
    margin: 0 15% !important;
  }
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
  /* CSS */
  header {
    .background-image {
      background-position: 50% !important;
    }
    .box {
      margin: 70px 5% 0 5% !important;
    }
  }
  nav {
    padding: 0 5% 0 5% !important;
  }
  main {
    margin: 2rem 5% 0 5% !important;
  }
  footer {
    margin: 0 5% !important;
  }
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* CSS */
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
  header {
    .background-image {
      background-position: 50% !important;
    }
    .box {
      margin: 70px 5% 0 5% !important;
    }
  }
  nav {
    padding: 0 5% 0 5% !important;
  }
  main {
    margin: 2rem 5% 0 5% !important;
  }
  footer {
    margin: 0 5% !important;
  }

  .people-cards {
    grid-template-columns: 1fr !important;
    grid-auto-rows: 425px !important;
  }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
  /* CSS */

  nav {
    padding: 0 !important;
  }
  main {
    margin: 2rem 5% 0 5% !important;
  }
  footer {
    margin: 0 5% !important;
  }

  .background-image {
    background-position: 80% !important;
  }
  .box {
    background: rgba(60, 60, 60, 0.6) !important;
    width: 100% !important;
    margin: 0 !important;
    margin-top: 0px !important;
    backdrop-filter: none !important;
  }

  .people-cards {
    grid-template-columns: 1fr !important;
    grid-auto-rows: 425px !important;
  }
}
